*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
  background-color: brown;
  width: 100vw;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

h1 {
  font-style: italic;
}

.features {
    padding: 15rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    color: indigo;
    font-size: 3rem;

}
