*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: brown;
  width: 100vw;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

h1 {
  font-style: italic;
}

.features {
  padding: 15rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  color: indigo;
  font-size: 3rem;
}

.contact {
  padding: 15rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 1, 85);
  color: rgb(233, 206, 252);
  font-size: 3rem;
}

.input {
  outline: none;
  border: none;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: block;
  width: 40rem;
}

input:focus,
input:active {
  outline: none;
}

.btn {
  padding: 0.7rem 2rem;
  width: 15rem;
  color: indigo;
  text-align: center;
  font-size: 1.8rem;
  font-family: monospace;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}

btn:focus,
btn:active {
  outline: none;
}
